
.chart-block {
  margin-top: 30px;
  height: 170px;
  display: flex;
}

.chart-block circle {
  transform-origin: center;
  transform-box: fill-box;
  stroke-width: 180;
  fill: none;
  stroke-dasharray: 0 1000;
  transition: all 0.3s;
  cursor: pointer;
}

.chart-block circle:hover {
  stroke-width: 250;
  transition: all 0.3s;
}

.chart-block circle.active {
  stroke-width: 250;
}

.c1 {
  transform: rotate(-150deg);
  stroke: #5C6BC0;
}


.c2 {
  transform: rotate(-270deg);
  stroke: #AB47BC;
}

.c3 {
  transform: rotate(-30deg);
  stroke: #F06292;
}

.head {
  margin-top: 20px;
  color: grey;
  margin-left: 20px;
}


.pie-slice:hover::after {
  content: attr(aria-describedby);
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  margin-top: -20px;
  margin-left: 10px;
  z-index: 1;
}

.pie-slice {
  position: relative;
}

.tooltip {
  color: #5C6BC0;
  display: block;
}

.bg-gradient-danger {
  background: linear-gradient(to right, #ffbf96, #fe7096);
}

.bg-gradient-info {
  background: linear-gradient(to right, #90caf9, #047edf 99%);
}

.bg-gradient-success {
  background: linear-gradient(to right, #84d9d2, #07cdae);
}

.text-white {
  color: #ffffff !important;
}
.card1{
  width: 100%;
margin-left: 10px;
padding: 10px;
margin-top: 0px 
}
.row1{
  margin-top: 25px;
display: flex;
flex-wrap: wrap;
margin-right: 20px;
margin-left: 10px;
}

@media (min-width: 768px) {
.col-md-4 {
flex: 0 0 33.33333%;
max-width: 33.33333%;
}
.col-md-5 {
flex: 0 0 41.66667%;
max-width: 41.66667%;
}
.col-md-7 {
flex: 0 0 58.33333%;
max-width: 58.33333%;
}
}

/* Media query for devices with a maximum width of 425px */
/* Media query for devices with a maximum width of 425px */
@media (max-width: 528px) {
.col-md-4,
.col-md-5,
.col-md-7 {
flex: 0 0 100%;
max-width: 100%;
}
}


/* Media query for devices with a maximum width of 300px */
@media (max-width: 300px) {
.col-md-4 {
flex: 0 0 100%;
max-width: 100%;
}
.col-md-5 {
flex: 0 0 100%;
max-width: 100%;
}
.col-md-7 {
flex: 0 0 100%;
max-width: 100%;
}
}

